<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.shop.mapper.UserMapper">
    <insert id="register">
        insert into User (userId,account, password,category,phone,mail) values
                        (#{userId},#{account}, #{password},#{category} ,#{phone},#{mail});
    </insert>

    <select id="login" resultType="Integer">
        select count(*) from User where account=#{account} and password=#{password} and category=#{category} ;
    </select>
<!--makeOrder(String orderId, String serviceId, String userId, String price, String cycle,Date date);-->
    <insert id="makeOrder">
        insert into order_total (orderId, serviceId,userId, price, cycle,createTime) values
            (#{orderId},#{serviceId}, #{userId},#{price} ,#{cycle},#{createTime});
    </insert>
<!--    completeOrder(String orderId, String serviceId, String userId,Date completeTime);-->
    <update id="completeOrder">
        --      id自增，需要怎么写并且后续好查询呢？
        update order_total set completeTime=#{completeTime}
        where orderId=#{orderId} and serviceId=#{serviceId} and userId =#{userId}

    </update>

    <update id="submitComment">
        --      id自增，需要怎么写并且后续好查询呢？
        update order_total set quality_score=#{qualityScore},speed_score=#{speedScore},attitude_score=#{attitudeScore},comment=#{comment})
            where orderId=#{orderId} and serviceId=#{serviceId} and userId =#{userId}

    </update>
</mapper>