<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.shop.mapper.UserMapper">
    <insert id="register">
        insert into user_login (user_id,account, password,category) values
                        (#{userId},#{account}, #{password},#{category} );
    </insert>

    <select id="login" resultType="Integer">
        select count(*) from user_login where account=#{account} and password=#{password} and category=#{category} ;
    </select>
    <!--    String orderNumber, String detectCompany, String detectObject, String detectProject,
                       double detectPrice,int detectTime,String detectStandard,String userName,
                       Date createTime,Date updateTime-->
    <insert id="makeOrder">
        insert into order_total (order_number,service_id, detect_company,detect_object,detect_project, detect_price,detect_time,
                                 detect_standard, user_name,create_time, update_time) values
            (#{orderNumber},#{serviceId},#{detectCompany}, #{detectObject},#{detectProject} ,
             #{detectPrice},#{detectTime},#{detectStandard},#{userName}, #{createTime},#{updateTime} );
    </insert>
<!--    completeOrder(String orderId, String serviceId, String userId,Date completeTime);-->

    <update id="completeOrder">
        --      id自增，需要怎么写并且后续好查询呢？
        update order_total set completeTime=#{completeTime}
        where orderId=#{orderId} and serviceId=#{serviceId} and userId =#{userId}

    </update>

    <select id="allService" resultType="ServiceFind">
        select service_id as serviceId,detect_company as detectCompany,detect_object as detectObject,
               detect_project as detectProject,detect_price as detectPrice,detect_time as detectTime,
               detect_standard as detectStandard,detect_score as detectScore
        FROM service WHERE detect_object = #{detectObject} and detect_project =  #{detectProject}
        Order by detect_price asc , detect_score desc
    </select>
    <select id="myOrder" resultType="OrderFind">
        select order_number as orderNumber,detect_company as detectCompany,detect_object as detectObject,
               detect_project as detectProject,detect_price as detectPrice,detect_time as detectTime,
               detect_standard as detectStandard,user_name as userName, create_time as createTime
        FROM order_total WHERE 1=1 and user_name = #{userName}
        Order by create_time desc
    </select>
    <insert id="submitComment">
        insert into rating_total ( order_number,service_id,detect_company,detect_object,detect_project, user_name,quality_score,
                                  speed_score,attitude_score,create_time, update_time,comment) values
            (#{orderNumber},#{serviceId},#{detectCompany}, #{detectObject},#{detectProject} ,
             #{userName},#{qualityScore},#{speedScore},#{attitudeScore}, #{createTime},#{updateTime},#{comment} );
    </insert>
<!--    <update id="submitComment">-->
<!--        &#45;&#45;      id自增，需要怎么写并且后续好查询呢？-->
<!--        update order_total set quality_score=#{qualityScore},speed_score=#{speedScore},attitude_score=#{attitudeScore},comment=#{comment})-->
<!--            where orderId=#{orderId} and serviceId=#{serviceId} and userId =#{userId}-->

<!--    </update>-->
</mapper>